body {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;

  background-color: #1f2937;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 60%;
  border: 1px solid white;
}

.nav-bar h2 {
  color: white;
  padding: 5px;
}

.nav-bar ul {
  display: flex;
  gap: 25px;
  list-style: none;
  border: 1px solid white;
}

.nav-bar li {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-box {
  display: flex;
  width: 60%;
  gap: 25px;
  border: 1px solid white;
  margin-bottom: 50px;
}

.hero-box div {
  display: flex;
  flex-wrap: wrap;

  flex: 1 1 0%;
  border: 1px solid red;
}

.main-text {
  padding-left: 5px;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;

  border: 1px solid white;
}

.secondary-text {
  padding-left: 5px;
  font-size: 18px;
  color: #e5e7eb;
  margin-top: -30px;
  border: 1px solid white;
}

.hero-box button {
  background-color: #3882f6;
  padding: 5px 20px 5px 20px;

  color: white;
  border-radius: 25%;
  margin-top: -18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.img {
  background-color: gray;
}
